<h1><%= @artist.name %></h1>

<div>
   <p>About:</p>
   <ul>
      <li>Age: <%= @artist.age %></li>
      <li>Bio: <%= @artist.bio %> </li>
   </ul>
</div>

<p><%= link_to 'Edit Artist Information', edit_artist_path(@artist) %></p>

<p>Add artist to favorites</p>