/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   background-color: black;
}

.nav-bar {
   width: 100%;
}

.nav-list {
   position: fixed;
   top: 0;
   width: 94%;
   z-index: 2000;
   background-color: black;
   border-style: groove;
   border-color: #c72121c4;
   border-radius: 15px;
}

.nav-tabs {
   color: white;
   font-family: 'Audiowide', cursive;
   display: inline-block;
   text-decoration: none;
   font-size: 20px;
   margin-left: 15px;
   padding: 0px 20px;
}

.logo {
   color: red;
   text-shadow: 3px 3px rgba(134, 123, 123, 0.651);
   font-family: 'Audiowide', cursive;
   font-size: 40px;
   padding: 5px 0px;
}

.first-tab {
   margin-left: 50px;
}

.right {
   float: right;
   margin-right: 50px;
   margin-top: 20px;
}

.right:hover {
   text-decoration: none;
   color: red;
   transition: 1s;
}

.nav-list li a:visited {
   text-decoration: none;
   color: white;
}

.nav-list li a:hover {
   text-decoration: none;
   color: red;
   transition: 1s;
}

.container {
   margin-top: 100px;
}
