// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



#event-container {
   border: double #c72121c4;
   background-color: #c49f9f93;
   border-radius: 15px;
}